<div class = "container">
    <div class="welcome_header">Welcome to Coffeelecious</div>
    <div class="welcome_content">
        Welcome to this community of coffee lovers.<br />
        Here you can enjoy and post new coffee recipies.
    </div>
    <hr />
<div class = "top_10_picks">
    <div class="top_10_picks_header">
        These are top 10 voted coffee drinks.
    </div>
</div>
</div>